@font-face {
    font-family: 'RightGrotesk';
    src: url('./assets//menu-assets/font-family/RightGrotesk-SpatialBlack.otf') format('otf');
}

body {
    // background-color: black;
    font-family: 'RightGrotesk', sans-serif !important;
}

:root::-webkit-scrollbar{
    display: none;
  }
  
  :root {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

.testimonial .swiper .swiper-button-prev {
    left: 12% !important;
    display: block !important;
}

.testimonial .swiper .swiper-button-prev::after,
.testimonial .swiper .swiper-button-next::after {
    font-size: 14px;
    font-weight: bold;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
}

.testimonial .swiper .swiper-button-next {
    right: 12% !important;
    display: block !important;
}

.testimonial {
    background-image: url('./assets/menu-assets/banner/Cream\ and\ Green\ Green\ \ Illustrative\ Food\ New\ Menu\ Banner\ Landscape.png');
    background-repeat: no-repeat;
    background-size: cover;

}